@import url('https://fonts.googleapis.com/css2?family=Bloo+2:wight@400;500;600;700;800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Baloon 2', cursive;
}